body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-color: #222;
}

.logo img{
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fall 1s ease-in;
}

@keyframes fall{
  0%{
    transform: translateY(-100px);
   }
   100%{
    transform: translateY(0);
   }
}

.header1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    position: sticky;
    top: 0;
    z-index: 1; 
    background-color: white;
    height: 50px;
}

.name{
    position: relative;
    top: -15px;
    left: -100px;
    text-shadow: 3px 1px 4px;
    color: rgb(8, 8, 7);
    animation: bounce 1.5s ease-in;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-100px);
  }
  60%{
    transform: translateY(-20px);
  }
}

.image{
    background-image: url("../image/bilb.jpg");
    height: 500px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -25px;
    background-attachment: scroll;
}

h3{
    text-align: center;
    top: 50%;
    height: 100vh;
    position: absolute;
    color: white;
    right: 50%;
    
}


nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    right: 10px;
    text-decoration: none;
}

li a:hover{
    color: red;
    transform: translateY(-4px);
    transition: .3s ease;
}
  nav ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

.main ul{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

figure img{
    width: 300px;
    border-radius: 5px;
    animation: slideup 2.5s ease-out;
}

/*animation section*/ 


@keyframes slideup{
  0%{
      transform: translateY(-300px);
  }
  100%{
     transform: translateY(0px);
  }
}
.fall-1{
  animation-duration: .5s;
}
.fall-2{animation-duration: 1s;}
.fall-3{animation-duration: 1.5s;}
.slideup{
  animation-name: slideup;
  animation-timing-function: ease-in;
}

figcaption{
    font-size: larger;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px ;
}

.paragraph{
    display:block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    animation: paragraph 2s ease-out;
}

@keyframes paragraph{
  20%, 50%, 80%, 100%{
  transform: translatex(0);
}
40%{
  transform: translatex(-100px);
}
60%{
  transform: translatex(-20px);
}
}

/* slider properties*/
.btn{
    text-align: center;
   display: inline-block;
   display: flex;
   justify-content: center;
   padding: 12px 0;
   margin: 12px 0;
   font-size: 18px;
   font-weight: 18px;
   border: none;
   color: white;
   animation: paragraph 2.5s ease-out;
   transition: 0.8s ease, transform 0.8s ease;

}
.btn a:hover{
  color: greenyellow;
  transform: translateY(-10px);
}

.button{
    display: inline-block;
    background:#f0a500;
    color: white;
    padding: 10px 20px;
    border: 100px;
    text-decoration: none;
  }

footer{
   text-align: center;
   padding: 20px;
   color: white;
   font-size: 14px;
}
footer a{
  font-size: 18px;
}
footer a:hover{color:yellow;}





@keyframes slideleft{
   0%{
    transform: translateX(-400px);
   }
   100%{
    transform: translateX(0);
   }
}

/*utility classes*/

.animation-1{
  animation-duration: 1s;
}
.animation-2{
  animation-duration: 1.2s;
}
.animation-3{
  animation-duration: 1.4s;
}
.animation-4{
  animation-duration: 1.6s;
}
.animation-5{
  animation-duration: 1.8s;
}
.animation-6{
  animation-duration: 2s;
}

/*class duration*/
.slideleft{
  animation-name: slideleft;
  animation-timing-function: ease-out;
}

/*screen sizes*/

@media screen and (max-width: 768px) { 
  .image{
    background-image: url("../image/bilb.jpg");
    max-height: fit-content;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -25px;
    background-attachment: scroll;
}

  .main ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name h1{
    
  }
}